{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block content %}
    <div class="container">
        <div class="row col-12">
            <div class="card">
                <div class="card-title">Подтверждение удаления</div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <p>Удалить продукт {{ object.name }}?</p>
                        <button class="btn btn-outline-danger" type="submit">Удалить</button>
                        <a class="btn btn-outline-success" href="{% url 'catalog:products' %}">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}